/* *********************************************************** */
/* Global vars                                                 */
/* *********************************************************** */

:root {
	--color-primary: rgb(11, 100, 254);

	--color-nav-bg: rgb(47, 45, 46);

	--color-code-panel: hsl(0, 0%, 87%);
	--color-positive: rgb(133, 203, 51);
	--color-negative: rgb(255, 101, 32);
	--color-warning: rgb(255, 210, 32);

	--color-map-routes: rgb(255, 192, 58);

	--color-page-bg: #FCFCFC;
	--color-body-text: rgb(0, 0, 0);
	--color-link: var(--color-primary);

	--color-accent-1: rgb(246, 249, 48);
	--color-accent-2: #21897E;
	--color-accent-3: #D2F898;
	--color-accent-4: #FCFCFC;
	--color-accent-5: #2F2D2E;
}


/* *********************************************************** */
/* Page layout                                                 */
/* *********************************************************** */


html, body{
	font-family: "Poppins", sans-serif;
	margin: 0;
	height: 100%;
}
::selection {
	background: var(--color-primary);
	color: var(--color-page-bg);
}


a{
	color: var(--color-link);
}
body{
	background-color: var(--color-page-bg);
	color: var(--color-body-text);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

nav{
	background: var(--color-nav-bg);
	color: white;
	height: 80px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}

h1{
	font-size: 1.1em;
  	margin: 0 0 1em;
	font-weight: 200;
	color: white;
	display: flex;
	align-items: center;
	margin: 0 50px 0 30px;
}
h1 .beetle{
	font-weight: 500;
}

nav > a{
	display: flex;
	align-items: center;
	font-weight: 300;
	color: white;
	text-decoration: none;
	background: no-repeat;
	background-size: 32px;
	background-position: 10px center;
	padding: 0 10px 0 50px;
	margin: 0 20px 0 0;
	position: relative;
	border-bottom: 3px solid transparent;
}
nav > a:not(:last-of-type)::after{
	content: "";
	background: hsl(0, 0%, 35%);
	display: block;
	position: absolute;
	right: -10px;
	top: 10px;
	bottom:10px;
	width: 1px; 
}
nav > a:hover{
	border-color: var(--color-accent-1);
}

[data-panel="data"] .nav-data,
[data-panel="map"] .nav-map{
	border-color: var(--color-accent-1);
	border-bottom-width: 5px;
}

.nav-data{
	background-image: url('/assets/img/table_icon.svg');
}
.nav-map{
	background-image: url('/assets/img/map.svg');
}


/* *********************************************************** */
/* Panels                                                      */
/* *********************************************************** */

.panel{
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
.panel > h2{
	margin-top: 0;
}

[data-panel="data"] .panel-data,
[data-panel="map"] .panel-map{
	display: block;
}

.panel-data{
	padding: 2em;
}

main{
	width: 100%;
	margin: 0;
	display:flex;
	flex-grow: 1;
}

.map-container{
	width: 100%;
	height: 100%;
}

/* *********************************************************** */
/* Map                                                         */
/* *********************************************************** */

.map{
	width: 100%;
	height: 100%;

	--dz_width: 8px;
	--hub_width: 16px;
	--hover_border_width: 2px;
}

.map-options{
	width: 33%;
	max-width: 400px;
	position: absolute;
	right: 1em;
	top: 1em;
	bottom: 12em;
	background: white;
	padding: 1em;
	overflow-y: scroll;
	height: fit-content;
	max-height: 70%;
}

/* *********************************************************** */
/* Markers - locations                                         */
/* *********************************************************** */

.marker{
	--marker_width: var(--dz_width);
	--tooltip-background-color: var(--color-primary); /* Will be overriden in JS on this element */

	background: var(--color-primary);
	width: var(--marker_width);
	border-radius: 50%;
	cursor: default;
	aspect-ratio: 1;
	box-shadow: 0px 0px 5px 0px white;
}
.marker::after{
	content: attr(data-name);
	background: var(--tooltip-background-color);
	color: white;
	position: absolute;
	left: 12px;
	top: -6px;
	border-radius: 4px;
	color: white;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	padding: 0.1em 0.3em;
	opacity: 0.8;
	white-space: pre;
	pointer-events: none;
	border: 1px solid white;
}
.marker:not(.show-label)::after{
	display: none;
}
.marker.show-label{
	z-index: 10000;
}

[data-show-type-colours='true'] .marker{
	background: var(--type-colour)
}

.marker:hover {
	border: var(--hover_border_width) solid var(--color-primary);
	background: hsl(0, 0%, 100%);
	width: calc(var(--marker_width) - (2 * var(--hover_border_width)));
}

.marker.is_hub {
	--marker_width: var(--hub_width);
}
.marker.is_hub::after{
	left: 20px;
	top: -4px;
}

/* *********************************************************** */
/* Markers - waypoints                                         */
/* *********************************************************** */

.marker-waypoint{
	--marker_width: var(--dz_width);

	border-radius: 50%;
	aspect-ratio: 1;
	box-shadow: 0px 0px 5px 0px white;

	border: 2px solid var(--color-positive);
	background: white;
	width: 5px;
}
.marker-waypoint::after{
	content: attr(data-name);
	background: var(--color-positive);
	color: white;
	position: absolute;
	left: 12px;
	top: -6px;
	border-radius: 3px;
	color: white;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	padding: 0.1em 0.3em;
	opacity: 0.8;
	white-space: pre;
	pointer-events: none;
}
.marker-waypoint:not(:hover)::after{
	display: none;
}
.marker-waypoint:hover{
	--marker_width: 10px;
	border-width: 3px;
	cursor: move;
}

/* *********************************************************** */
/* Markers - waynodes                                          */
/* *********************************************************** */

.marker-waynode{
	--marker_width: var(--dz_width);

	border-radius: 50%;
	aspect-ratio: 1;
	box-shadow: 0px 0px 5px 0px white;

	border: var(--hover_border_width) solid var(--color-map-routes);
	background: hsl(0, 0%, 100%);
	width: calc(var(--marker_width) - (2 * var(--hover_border_width)));
}
.marker-waynode:hover{
	--marker_width: 10px;
	border-width: 3px;
}


/* *********************************************************** */
/* Code container                                              */
/* *********************************************************** */

.code{
	background: var(--color-code-panel);
	height: 400px;
	font-family: "IBM Plex Mono", monospace;
	font-size: 0.9em;
	font-weight:400;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	border-top-left-radius: 0px;
	position: relative;

	--margin: 3px;
	padding: var(--margin);
	overflow: hidden;
}

.editor{
	display: inline-flex;
	font-family: monospace;
	line-height: 21px;
	height: 100%;
	overflow-y: auto;
	overflow-x: auto;
	width: 100%;
}

.editor textarea{
	background: white;
	padding: 0.3em;
	resize: none;
	border: none;
	white-space: pre;
	overflow-wrap: normal;

	height: 9999px;
	line-height: 21px;
	overflow-y: hidden;
	padding: 0;
	border: 0;
	outline: none;
	resize: none;
	width: 100%;
}
.editor textarea:focus{
	outline: none;
}

.editor .line-numbers {
	text-align: right;
	height: 9999px;
	background: white;
	padding: 0 8px 0 0;
}

.editor .line-numbers span {
	counter-increment:  linenumber;
}

.editor .line-numbers span::before {
	content: counter(linenumber);
	display: block;
	color: #506882;
	padding: 0 3px;
}
.editor .line-numbers span.has-error::before{
	background: var(--color-negative);
	font-weight: 600;
	color: white;
}

/* *********************************************************** */
/* Import warning                                              */
/* *********************************************************** */

.import-result{
	background: color-mix(in srgb, var(--color-negative) 8%, transparent);
	border-left: 2px solid var(--color-negative);
	font-size: 0.9em;
	padding: 0.6em 0.8em 0.6em 2.5em;
	margin-top: 1em;
	position: relative;
}
.import-success{
	background: color-mix(in srgb, var(--color-positive) 8%, transparent);
	border-left: 2px solid var(--color-positive);
}

.import-result::before{
	content:"⚠️";
	font-variant-emoji: emoji;
	display:block;
	position: absolute;
	left: 0.5em;
	top: 0.2em;
}
.import-success::before{
	content: "✅";
}
.import-result .num-rows{
	font-weight: 600;
}
.import-result:not(.show){
	display:none;
}

.import-result ul{margin: 0; padding-left: 2em;}
.import-result li{margin: 0.7em 0;}

/* *********************************************************** */
/* Map stats                                                   */
/* *********************************************************** */
h3{
	font-weight: normal;
	border-bottom: 2px solid var(--color-code-panel);
	padding-bottom: 4px;
	margin-bottom: 8px;
	font-size: 1.2em;
}
.locations-list .location{
	font-size: 0.9em;
	margin-bottom: 0.2em;
	cursor: default;
	font-weight: 300;
}
.locations-list .num{
	background: color-mix(in srgb, var(--color-primary) 70%, transparent);
	display: inline-block;
	padding: 0 0.3em;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 0.9em;
}
.locations-list .location:hover .num{
	background: var(--color-positive);
}

.routes-length{
	font-weight: 300;
	font-size: 0.8em;
}

/* *********************************************************** */
/* Feature options                                             */
/* *********************************************************** */

.feature-options{
	font-family: 'Inter', sans-serif;
}
.drone-range-wrapper{
	display: flex;
	margin: 0.8em 0;
	align-items: center;
}
.drone-range-wrapper .slider{
	margin: 0 0.5em;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.drone-range-wrapper datalist{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 140px;
	font-size: 0.7em;
	margin-top: 0.3em;
	display: none;
}

.drone-range-wrapper .drone-range{
	width: 150px;
	margin: 0;
}

.route-mode-wrapper select{
	padding:0.4em 0.1em;
	border-radius: 3px;
}

.type-colour-wrapper{
	margin-top:0.5em;
}

.type-colour-wrapper input{
	padding:0.4em 0.1em;
	border-radius: 3px;
	margin-top:6px;
}


.type-colour-wrapper .type-colours{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}
body:not([data-show-type-colours='true']) .type-colours{display:none;}

.type-colour-wrapper .type-colours span{
	font-size: 0.85em;
	display: block;
	position: relative;
	text-indent: 17px;
	width: 50%;
	margin: 0;
}
.type-colour-wrapper .type-colours span::before{
	content: "";
	border-radius: 50%;
	width: 11px;
	aspect-ratio: 1;
	background-color: var(--color);
	position: absolute;
	left: 0px;
	top: 2px;
}

 
/* *********************************************************** */
/* Mouse follower popup                                        */
/* *********************************************************** */

.mouse-follower{
	position: fixed;
	display: flex;
	pointer-events: none;
	top: 20px;
	left: 0px;
	max-width: 350px;
	justify-content: center;
	z-index: 20000;
}
.mouse-follower span{
	display: block;
	background: var(--color-primary);
	color: white;
	font-size: 0.7em;
	font-weight: 400;
	font-family: 'Inter', sans-serif;
	padding: 0.3em 0.4em;
	opacity: 0.8;
	border-radius: 3px;
}
.mouse-follower:not(.has-border) span{border-top-width: 0px;}
.mouse-follower:not(.is-visible){
	display:none;
}